<%= turbo_stream_from @post %>

<%= render @post %>
<%= render "/posts/comments", post: @post%>

<div>
  <% if current_user.id == @post.user_id %>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
  <% end %>
  <%= link_to "Back to posts", posts_path %>

  <% if current_user.id == @post.user_id %>
    <%= button_to "Destroy this post", @post, method: :delete %>
  <% end %>
</div>
